# Datasource local storage ignored files
dataSources.local.xml

# Editor-based HTTP Client requests
http-client.private.env.json
.idea/httpRequests
rest-client.private.env.json

# Default ignored files
.gradle
.idea/workspace.xml
out/production/classes
out/test/classes
out
.idea/shelf

.idea